# Archivos de RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Archivos temporales
.Rtmp/
.Rapp.history

# Dependencias de renv
/renv/

# Librerías locales
/library/

# Directorios de Quarto
/.quarto/

# Archivos de caché
/cache/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db
